html {
    font-family: 'Mandali', sans-serif;
}

h2 {
    font-family: 'Indie Flower', sans-serif;
    font-size: 48px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 32px;
}

.section-header {
    display: block;
    width: 100%;
}

.container {
}

.main-content {
    position: relative;
    top: 68px;
}

/* Nav Bar */
header {
    position: fixed;
    width: 100%;
    z-index: 1;
}

.nav {
    font-family: 'Indie Flower';
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: white;
}

#nav-logo {
    font-size: 48px;
    flex: 1;
    padding-left: 15px;
}

.nav-links li {
    font-size: 24px;
    padding: 0 15px;
    display: inline-flex;
}

/* Banner */
#banner {
    background-image: url('../images/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 600px;
    justify-content: right;
}

#banner-text {
    padding-top: 100px;
    padding-right: 25px;
}

#banner-logo {
    font-family: 'Indie Flower';
    font-size: 72px;
    padding-top: 75px;
    font-weight: bold;
    text-align: right;
}

#banner-tagline {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    text-align: right;
    color: #787878;
}

/* Shop Section */
#shop {
    align-items: center;
    justify-content: center;
    padding: 32px 48px;
}

.products {
    display: inline-flex;
    justify-content: space-between;
}

.product-category {
    width: 30%;
}

.category-img {
    overflow: hidden;

}

.category-img img {
    width: 100%;
}