html {
    font-family: 'Mandali', sans-serif;
    font-size: 16px;
}

h2 {
    font-family: 'Indie Flower', sans-serif;
    font-size: 48px;
    text-align: center;
    font-weight: bold;
}

h3 {
    font-family: 'Mandali', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    padding-top: 16px;
    color: #202020;
}

h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}

p {
    font-family: 'Indie Flower';
}

.section-header {
    display: block;
    width: 100%;
}

.container {
}

.main-content {
    position: relative;
    top: 68px;
}

/* Nav Bar */
header {
    position: fixed;
    width: 100%;
    z-index: 1;
}

.nav {
    font-family: 'Indie Flower';
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: white;
}

#nav-logo {
    font-size: 48px;
    flex: 1;
    padding-left: 15px;
}

.nav-links li {
    font-size: 24px;
    padding: 0 15px;
    display: inline-flex;
}

/* Banner */
#banner {
    background-image: url('../images/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 600px;
    justify-content: right;
}

#banner-text {
    padding-top: 100px;
    padding-right: 25px;
}

#banner-logo {
    font-family: 'Indie Flower';
    font-size: 72px;
    padding-top: 75px;
    font-weight: bold;
    text-align: right;
}

#banner-tagline {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    text-align: right;
    color: #787878;
}

/* Shop Section */
#shop {
    align-items: center;
    justify-content: center;
    padding: 32px 48px;
}

.products {
    display: inline-flex;
    justify-content: space-around;
    margin: 0 10rem;
}

.product-category {
    width: 30%;
    padding: 32px 32px 20px 32px;
    margin: 16px;
}

.product-category:hover {
    background-color: #E8E8E8;
}

.category-img {
    overflow: hidden;
}

.category-img img {
    width: 100%;
}

.product-category h3 {
    padding-top: 15px;
}

/* Blog */
#blog {
    align-items: center;
    Justify-content: center;
    background-color: #E8E8E8;
    padding: 3rem;
}

#blog-posts {
    display: flex;
    padding-top: 1rem;
}

#featured-blog {
    width: 60%;
    padding: 2rem;
}

#featured-blog:hover {
    background-color: white;
}

#featured-blog img {
    width: 100%;
}

#featured-blog-title {
    padding-top: 1rem;
}

#blog-links {
    width: 40%;
    flex-direction: column;
    padding: 2rem 0;
}

.blog-block {
    display: flex;
    align-items: center;
    padding: 1rem 1rem;
}

.blog-block:hover {
    background-color: white;
}

.blog-block img {
    width: 100%;
}

.blog-link-img {
    width: 35%;
}

.blog-link-text {
    width: 65%;
    align-items: center;
    padding-left: 1rem;
}

.blog-date {
    padding-top: 0.5rem;
}

/* Team */
#team {
    align-items: center;
    Justify-content: center;
    padding: 3rem;
}

#team-members {
    display: flex;
    justify-content: center;
    padding: 2rem 10rem;
}

.team-block {
    text-align: center;
    padding: 0 3rem;
}

.team-block img {
    border-radius: 50%;
    width: 100%;
    max-width: 250px;
}

.team-name {
    padding-top: 0.5rem;
    font-size: 1.5rem;
}

/* Footer */
#copyright {
    font-family: 'Open Sans', sans-serif;
    text-align: right;
    padding: 0.5rem;
}